@import './normalize.css';
@import './header.css';
@import './utilities.css';
/* @import './components/forms.css'; */

html, body {
  height: 100%;
}

body {
  color: #5B727B;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

a {
  color: #008CC8;
}

a.back {
  display: inline-block;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1.2;
  margin-top: 1rem;
}

h1 {
  margin: 0
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: .75rem;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Grid */
.w-1\/2 {
  width: 50%;
}

.col-2-container {
  margin: 1rem -0.5rem 0;
}
.col-2 {
  margin: 0 0.5rem;
}