.mb-2 {
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.bg-white {
  background: #fff;
}

.text-red-light {
  color: #EB9196;
}

.text-sm {
  font-size: 0.75rem;
}

.bg-grey-light {
  background: #e3e7e8;
}

.bg-grey-dark {
  background: #3f4856;
}

.text-white {
  color: #fff;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 700;
}